<h1 style="margin-top: 0; text-align: left; font-size: 24px; font-weight: 500; font-family: 'Lexend', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif; color: #333333">
  {{> @partial-block }}
</h1>